body {
    background-color: black;
    color: whitesmoke;
}

.title {
    font-family: Verdana;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.download-link a {
    color: aquamarine;
}

.download-link {
    text-align: center;
}

.video {
    text-align: center;
    margin-top: 20px;
}

.middle {
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.middle p {
    font-family: Verdana;
    color: grey;
    font-size: 21;
}

.bottom {
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: right;
    color: grey;
}

footer p {
    font-size: 25px;
}


